<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image"></div>
    <div class="caption">
        <h1>Mongo Scraper</h1>
        <p>New York Times Edition</p>
    </div>
</div>

{{#each content}}
<div class="container-fluid article-container">
<span id="articles">{{this.title}}</span>
<div id="weblink">{{this.link}} Click Here</div>
<div id="notes"></div>
</div>
{{/each}}


<footer class="footer">
    <div class="container">
        <p>New York Times Mongo Scraper</p>
    </div>
</footer>


