<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image"></div>
    <div class="caption">
        <h1>Mongo Scraper</h1>
        <p>New York Times Edition</p>
    </div>
</div>

<!--{{#each content}}
<div class="container-fluid article-container">
<div id="articles">
    {{this.title}}
    <a href="{{this.link}}">Read More Here</a>
    </div>
<div id="notes" data-id="{{this._id}}">Save the Story</div>
</div>
{{/each}}
-->

<div class="container-fluid article-container">
<div id="articles"></div>
<div id="notes"></div>
</div>


<footer class="footer">
    <div class="container">
        <p>New York Times Mongo Scraper</p>
    </div>
</footer>


